@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

body {
  background: url('burger.jpeg');
  background-size: cover;
  font-family: 'Permanent Marker', cursive;
}

header {
  text-align: center;
}

header h1 {
  margin-top: 110px;
  margin-bottom: 60px;
}

.burger-container {
  display: flex;
  justify-content: space-around;
}

.card {
  padding: 4px 18px;
}

.collapsible-header {
  font-size: 22px;
}

.devoured p {
  font-size: 20px;
}

.collapsible-body {
  background: rgba(255, 255, 255, 0.5);
  font-size: 18px;
}

.burger-card {
  display: flex;
  align-items: center;
  margin: 10px;
}

.new-burger {
  margin: 0 auto;
  text-align: center;
}

.new-burger input[type=text]:not(.browser-default) {
  border-radius: 3px;
  font-size: 30px;
  font-family: inherit;
}

.ingredients {
  display: inline-block;
}

.update-burger-btn {
  margin-left: 20px;
  height: 45px;
}

.burger-submt-btn {
  margin-top: 15px;
}

.devoured-burgers {
  opacity: 0.7;
}

.modal-btn {
  margin: 40px auto;
  display: block;
  color: #333;
  font-family: inherit;
  background:rgba(255,245,157,0.8);
}

.modal-btn:hover {
  margin: 40px auto;
  display: block;
  color: #333;
  font-family: inherit;
  background:rgb(255,245,157, 0.9);
}

.modal {
  width: 300px;
}

.delete-burger-btn {
  position: absolute;
  background: rgba(255, 0, 0, 0.5);
  font-size: 14px;
  color:white;
  padding: 0 5px;
  top: 0;
  right: 0;
}

.delete-burger-btn:hover {
  opacity: 1;
  background: rgba(255, 0, 0, 0.9);
  border-radius: 4px;
  transition: 0.5s ease;
  cursor: pointer;
}